@use 'variables' as v;

.text-center{
    text-align: center;
}

.bg-white{
    background-color: v.$blanco;
}

.mt-5{
    margin-top: 5rem;
}

.margin-negativo-10{
    margin-top: -10rem;
}